body {
    margin: 0;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background-color: cornflowerblue;
}

.header a {
    color: #fff;
    font-size: 1rem;
}

/* add margin right but not to the last link */
.links a:not(:last-child) {
    margin-right: 10px;
}